n8n/whatsapp-signin.workflow.json
{
  "name": "Polytournament – WhatsApp commands (Whapi + Data Table + Firebase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf1-webhook",
      "name": "WhatsApp Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-680, 300],
      "webhookId": "polytournament-whatsapp-inbound"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "fbUrl", "value": "={{ $vars.FIREBASE_DB_URL }}", "type": "string" },
            { "id": "a2", "name": "fbAuth", "value": "={{ $vars.FIREBASE_AUTH_QS || '' }}", "type": "string" },
            { "id": "a3", "name": "whapiBase", "value": "={{ $vars.WHAPI_BASE || 'https://gate.whapi.cloud' }}", "type": "string" },
            { "id": "a4", "name": "whapiToken", "value": "={{ $vars.WHAPI_TOKEN }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "wf1-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse the Whapi inbound message. Emits command='' for our own messages\n// (from_me) and for non-command chatter, so the IF node ignores them.\nconst body = $('WhatsApp Inbound').first().json.body || {};\nconst msg = (body.messages && body.messages[0]) || {};\nconst text = (msg.text && msg.text.body) ? String(msg.text.body).trim() : '';\nconst number = String(msg.from || '').replace(/[^0-9]/g, '');\nconst chatId = msg.chat_id || '';\nconst fromMe = msg.from_me === true;\nconst token = text.split(' ').filter(Boolean).find(t => t.charAt(0) === '/') || '';\nconst command = fromMe ? '' : token.toLowerCase();\nreturn [{ json: { command, number, chatId, text } }];"
      },
      "id": "wf1-parse",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-280, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.command }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf1-iscommand",
      "name": "Is a command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-80, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
                "conditions": [
                  { "id": "s1", "leftValue": "={{ $json.command }}", "rightValue": "/sign-in", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sign-in"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "wf1-switch",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [160, 280]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": { "__rl": true, "mode": "list", "value": "", "cachedResultName": "nickname_number_mapping" },
        "filters": {
          "conditions": [
            { "keyName": "number", "condition": "eq", "keyValue": "={{ $json.number }}" }
          ]
        },
        "options": {}
      },
      "id": "wf1-datatable",
      "name": "Get Nickname (Data Table)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [380, 180],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── /sign-in handler. Nickname comes from the nickname_number_mapping table. ──\nfunction normalizeNick(s){return String(s==null?'':s).trim().toLowerCase();}\nfunction sanitizeKey(s){return String(s).replace(/[.$#\\[\\]\\/ -]/g,'_');}\nfunction pickLatestTid(pointer,registry){if(pointer&&typeof pointer==='string')return pointer;let best=null,bo=-Infinity;for(const [id,t] of Object.entries(registry||{})){if(!t||id.startsWith('_'))continue;const o=typeof t.order==='number'?t.order:0;if(o>bo){best=id;bo=o;}}return best;}\nfunction matchRoster(players,nickname){const tgt=normalizeNick(nickname);return (players||[]).find(p=>normalizeNick(p)===tgt)||null;}\n\nconst cfg = $('Config').first().json;\nconst chatId = $('Parse Message').first().json.chatId;\nconst q = cfg.fbAuth || '';\n\n// The Data Table row (empty if the number is not mapped).\nconst row = ($input.first() && $input.first().json) || {};\nconst nickname = row.nickname ? String(row.nickname) : '';\n\nasync function send(message){ if(cfg.whapiToken){ await this.helpers.httpRequest({ method:'POST', url: cfg.whapiBase+'/messages/text', headers:{ Authorization:'Bearer '+cfg.whapiToken }, body:{ to: chatId, body: message }, json:true }); } return [{ json:{ chatId, message } }]; }\n\nif(!nickname){ return await send.call(this, '⚠️ Your number is not registered for this tournament.'); }\n\nconst pointer = await this.helpers.httpRequest({ url: cfg.fbUrl+'/latest_tournament.json'+q, json:true }).catch(()=>null);\nlet tid = (pointer && typeof pointer==='string') ? pointer : null;\nif(!tid){ const reg = await this.helpers.httpRequest({ url: cfg.fbUrl+'/tournaments.json'+q, json:true }).catch(()=>({})); tid = pickLatestTid(null, reg||{}); }\nif(!tid){ return await send.call(this, '⚠️ There is no active tournament right now.'); }\n\nconst players = await this.helpers.httpRequest({ url: cfg.fbUrl+'/tournaments/'+tid+'/players.json'+q, json:true }).catch(()=>[]);\nconst match = matchRoster(players, nickname);\nif(!match){ return await send.call(this, '⚠️ \"'+nickname+'\" is not on the player list for '+tid+'.'); }\n\nconst record = { nickname: match, status:'signed_in', joined_at: Date.now(), tournament_id: tid };\nawait this.helpers.httpRequest({ method:'PUT', url: cfg.fbUrl+'/tournaments/'+tid+'/participants/'+sanitizeKey(match)+'.json'+q, body: record, json:true });\nreturn await send.call(this, '✅ '+match+\" — you're signed in to \"+tid+'.');"
      },
      "id": "wf1-signin",
      "name": "Handle /sign-in",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 180]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── Default handler for any unrecognized /command. ──\nconst cfg = $('Config').first().json;\nconst chatId = $('Parse Message').first().json.chatId;\nconst message = 'Command not recognized.';\nif(cfg.whapiToken){ await this.helpers.httpRequest({ method:'POST', url: cfg.whapiBase+'/messages/text', headers:{ Authorization:'Bearer '+cfg.whapiToken }, body:{ to: chatId, body: message }, json:true }); }\nreturn [{ json: { chatId, message } }];"
      },
      "id": "wf1-unknown",
      "name": "Command Not Recognized",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 400]
    }
  ],
  "connections": {
    "WhatsApp Inbound": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Parse Message", "type": "main", "index": 0 }]] },
    "Parse Message": { "main": [[{ "node": "Is a command?", "type": "main", "index": 0 }]] },
    "Is a command?": { "main": [[{ "node": "Route Command", "type": "main", "index": 0 }], []] },
    "Route Command": {
      "main": [
        [{ "node": "Get Nickname (Data Table)", "type": "main", "index": 0 }],
        [{ "node": "Command Not Recognized", "type": "main", "index": 0 }]
      ]
    },
    "Get Nickname (Data Table)": { "main": [[{ "node": "Handle /sign-in", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
