n8n/whatsapp-signin.workflow.json
{
  "name": "Polytournament – WhatsApp /sign-in (Whapi.Cloud + Firebase REST)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf1-webhook",
      "name": "WhatsApp Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-420, 300],
      "webhookId": "polytournament-whatsapp-inbound"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "fbUrl", "value": "={{ $vars.FIREBASE_DB_URL }}", "type": "string" },
            { "id": "a2", "name": "fbAuth", "value": "={{ $vars.FIREBASE_AUTH_QS || '' }}", "type": "string" },
            { "id": "a3", "name": "whapiBase", "value": "={{ $vars.WHAPI_BASE || 'https://gate.whapi.cloud' }}", "type": "string" },
            { "id": "a4", "name": "whapiToken", "value": "={{ $vars.WHAPI_TOKEN }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "wf1-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ── Bot logic mirrored from n8n/lib/bot-logic.js (keep in sync) ──\nfunction normalizeNick(s){return String(s==null?'':s).trim().toLowerCase();}\nfunction sanitizeKey(s){return String(s).replace(/[.$#\\[\\]\\/ -]/g,'_');}\nfunction pickLatestTid(pointer,registry){if(pointer&&typeof pointer==='string')return pointer;let best=null,bo=-Infinity;for(const [id,t] of Object.entries(registry||{})){if(!t||id.startsWith('_'))continue;const o=typeof t.order==='number'?t.order:0;if(o>bo){best=id;bo=o;}}return best;}\nfunction matchRoster(players,nickname){const tgt=normalizeNick(nickname);return (players||[]).find(p=>normalizeNick(p)===tgt)||null;}\nfunction helpText(msg){const C=[['/sign-in','Join the current tournament (identity from your phone number).'],['/create-tournament','Create a new tournament (coming soon).']];return (msg||'Available commands:')+'\\n'+C.map(c=>c[0]+' – '+c[1]).join('\\n');}\n\n// ── PII BOUNDARY: phone → nickname lives ONLY here. Replace with your lookup. ──\nconst DIRECTORY = {\n  // '420123456789': 'MorPet87',\n};\n\nconst cfg = $json;\n\n// Whapi.Cloud inbound payload: { messages: [ { from_me, from, chat_id, text:{body} } ] }\nconst payload = $('WhatsApp Inbound').first().json.body || {};\nconst msg = (payload.messages && payload.messages[0]) || {};\nconst text = (msg.text && msg.text.body) ? String(msg.text.body).trim() : '';\nconst from = String(msg.from || '');\nconst chatId = msg.chat_id || '';\nconst token = text.split(' ').filter(Boolean).find(t=>t.charAt(0)==='/') || '';\nconst command = token.toLowerCase();\n\nasync function send(message){\n  if(cfg.whapiToken){ await this.helpers.httpRequest({ method:'POST', url: cfg.whapiBase+'/messages/text', headers:{ Authorization:'Bearer '+cfg.whapiToken }, body:{ to: chatId, body: message }, json:true }); }\n  return [{ json: { chatId, message } }];\n}\n\n// Ignore our own messages and anything that isn't a slash command.\nif(msg.from_me || !command){ return [{ json: { skipped: true } }]; }\nif(!(command==='/sign-in'||command==='/signin')){ return await send.call(this, helpText('Unknown command.')); }\n\n// Resolve nickname privately (never leaves this node).\nconst phone = from.replace(/[^0-9]/g,'');\nconst nickname = DIRECTORY[phone] || '';\n\nconst q = cfg.fbAuth || '';\nconst pointer = await this.helpers.httpRequest({ url: cfg.fbUrl+'/latest_tournament.json'+q, json:true }).catch(()=>null);\nlet tid = (pointer && typeof pointer==='string') ? pointer : null;\nif(!tid){ const reg = await this.helpers.httpRequest({ url: cfg.fbUrl+'/tournaments.json'+q, json:true }).catch(()=>({})); tid = pickLatestTid(null, reg||{}); }\nif(!tid){ return await send.call(this, '⚠️ There is no active tournament right now.'); }\n\nconst players = await this.helpers.httpRequest({ url: cfg.fbUrl+'/tournaments/'+tid+'/players.json'+q, json:true }).catch(()=>[]);\nif(!nickname){ return await send.call(this, '⚠️ Your number is not registered for this tournament.'); }\nconst match = matchRoster(players, nickname);\nif(!match){ return await send.call(this, '⚠️ \"'+nickname+'\" is not on the player list for '+tid+'.'); }\n\nconst record = { nickname: match, status:'signed_in', joined_at: Date.now(), tournament_id: tid };\nawait this.helpers.httpRequest({ method:'PUT', url: cfg.fbUrl+'/tournaments/'+tid+'/participants/'+sanitizeKey(match)+'.json'+q, body: record, json:true });\nreturn await send.call(this, '✅ '+match+\" — you're signed in to \"+tid+'.');"
      },
      "id": "wf1-handle",
      "name": "Handle Sign-in (Whapi + Firebase)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {}
      },
      "id": "wf1-respond",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [300, 300]
    }
  ],
  "connections": {
    "WhatsApp Inbound": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Handle Sign-in (Whapi + Firebase)", "type": "main", "index": 0 }]] },
    "Handle Sign-in (Whapi + Firebase)": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
